/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.noto-serif-sc-<uniquifier> {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* height: calc(var(--vh, 1vh) * 100); */

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}
#all {
    width: 100vw;
    height: 100vh;
    position: fixed;
}
div:not(#all){
    border: solid white 0.1px;
}
.header {
    width: 100vw;
    height: 6vh;
    background-color: #0B58F5;
}
.middle {
    width: 100vw;
    height: 89vh;
    display: flex;
}
.sideber {
    width: 20vw;
    height: 89vh;
    background-color: #6295F8;
}
@media screen and (max-width:600px){
    .sideber {
        width: 60vw;
        display: none;
    }
}
.mainblock {
    width: 80vw;
    height: 89vh;
    background-color: #83ABF9;
    overflow: scroll;
}
@media screen and (max-width:600px){
    .mainblock {
        width: 100vw;
    }
    
}
.footer {
    width: 100vw;
    height: 5vh;
    background-color: #0847C7;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    height: 6vh;
    width: 20vw;
    justify-content: space-around;
}
@media screen and (max-width:600px){
    nav {
        width: 50vw;
    }
    
}
nav img {
    height: 5vh;
    width: auto;
    border-radius: 10px;
}
.title {
    width: 100%;
    height: 10vh;
    background-color: #0B58F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    column-count: 3;
    column-gap: 10px;
    max-width: 1200px;
    width: 100%;
}
.gallery-item {
    break-inside: avoid;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
.gallery-item .info {
    padding: 10px 0;
}
.gallery-item .author {
    font-weight: bold;
    margin-bottom: 5px;
}
.gallery-item .comment {
    color: #555;
}
@media (max-width: 800px) {
    .gallery {
        column-count: 2;
    }
}
@media (max-width: 500px) {
    .gallery {
        column-count: 1;
    }
}

/* 
https://lh3.googleusercontent.com/d/




 */